---
---
<header class="navbar text-yellow-600 shadow-md" style="background-color: #ebe6d8;">
    <div class="flex-1">
      <a href="/" class="text-4xl ml-8 font-youngblood text-yellow-600">Naturkassen</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1 mr-8">
        <li><a href="/abonnement" class="hover:text-yellow-400">Abonnement</a></li>
        <li><a href="/shop" class="hover:text-yellow-400">Shop</a></li>
        <li><a href="/om" class="hover:text-yellow-400">Om os</a></li>
      </ul>
    </div>
  </header>
  
  