---
---
<header class="navbar bg-yellow-400 text-black shadow-md">
    <div class="flex-1">
      <a href="/" class="text-4xl ml-8 font-youngblood text-black">Naturkassen</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1 mr-8">
        <li><a href="/abonnement" class="hover:text-yellow-600">Abonnement</a></li>
        <li><a href="/shop" class="hover:text-yellow-600">Shop</a></li>
        <li><a href="/om" class="hover:text-yellow-600">Om os</a></li>
      </ul>
    </div>
  </header>
  
  